@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: #FDF5E6;
    color: #5f3d2d;
}

.nav {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding: 15px 50px;
    justify-content: space-between;
    user-select: none;
}

/* Right Nav Bar */
.nav .right {
    display: flex;
}

.right ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.right ul i {
    display: none;
}


/* Center Nav Bar */
.nav .cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .cent p {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}


/* Left Nav Bar */
.nav .left {
    display: flex;
    align-items: center;
}

.left ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.left ul .ri-menu-5-line {
    display: none;
}

.right li,
.left li {
    cursor: pointer;
}

/* Conatiner Main page */

.container {
    height: 87vh;
    display: flex;
    padding-top: 15px;
    padding-left: 50px;
    /* background-color: red; */
}

.cont-r {
    width: 40%;
}

.cont-r .info {
    position: relative;
    top: 20%;
    flex-wrap: wrap;
}

.cont-r .info h2 {
    font-size: 80px;
    letter-spacing: 5px;
    user-select: none;
}

.cont-r .info p {
    max-width: 350px;
    margin-top: 20px;
}

.cont-r .info h6 {
    display: inline-block;
    border: .5px solid white;
    margin: 20px;
    padding: 8px 20px;
    letter-spacing: 2.5px;
    color: white;
    background-color: rgb(40, 64, 40);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.cont-r .info h6:hover {
    color: rgb(40, 64, 40);
    background-color: #FDF5E6;
    border-color: #FDF5E6;
    transition: .4s;
}

.cont-l {
    display: flex;
    align-content: flex-end;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingElement{
    transform: translateY(100%);
}

.bounding .buttonbound{
    transform: translateY(190%);
}



@media (max-width:1080px) {
    main .container .cont-l {
        position: relative;
        right: 100px;
    }
}

@media (max-width:900px) {
    .nav .right li {
        display: none;
    }

    .nav .left ul li {
        display: none;
    }

    .nav .right ul i {
        display: block;
        font-size: 25px;
        cursor: pointer;
        position: absolute;
        left: 20px;
        /* margin-right:1px; */
    }

    .container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cont-l img {
        position: absolute;
        left: -45px;
        top: 46px;
        width: 125vw;
        height: 40vh;
    }

    .cont-r .info h2 {
        font-size: 40px;
    }

}